<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOS - Prihlásenie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-styles.css') }}">
</head>

<body>
    <div class="login">
        <h2>Prihlásenie</h1>
        <div class="personal">
            {% for nurse in nurses %}
            <a href="{{ url_for('detail', nurse_id=nurse['id']) }}" class="small-token">{{ nurse['meno'] }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="login">
        <h2>
            Pridať nového pracovníka
        </h2>

        <form class="one-line" action="/add_nurse" method="POST">
            <input type="text" placeholder="Meno pracovníka" name="meno" required>
            <button class="btn" type="submit">Pridat pracovníka</button>
        </form>
    </div>
</body>

</html>